*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-decoration: none;
    color: inherit;
} 
                
body {
    
    font-family: "Inter", sans-serif;
    margin-top: 2em;
    color: white;
    background-color: black;
    margin-bottom: 5em;
}

:root {
    --clr-border-light: rgb(95, 94, 94);
    --clr-tomato : tomato;
    --clr-txt-light : rgb(187, 187, 187);
    --clr-txt: white;
    --clr-black : black;
    --clr-button : rgb(190, 241, 159);
    --clr-blur : rgba(255, 255, 255, 0.1);
}




header {
    background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.17), black)10%;
    padding: 0 15%;
}


/* ----nav-bar----- */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-name {
    font-style: italic;
    font-size: 2.1rem;
    color: var(--clr-tomato)
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3em;

    border: 1px solid var(--clr-border-light);
    padding: 0.15em 1em 0.15em 0.25em;
    border-radius: 1.5em;
}

.home {
    background-color: var(--clr-tomato);
    padding: 0.4em 0.9em;
    border-radius: 1em;
}


/* ------banner----- */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.banner-left {
    max-width: 35em;
}

.banner-heading {
    font-size: 4.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.shape {
    font-family: "Freehand", cursive;
    font-size: 8rem;
    font-weight: 300;
    line-height: 0.5;
    color: wheat;
}

.banner-des {
    color: var(--clr-txt-light);
    font-weight: 500;
}

.banner-buttons {
    display: flex;
    gap: 3em;
    margin-top: 1.5em;
}

.banner-button {
    color: var(--clr-txt);
    padding: 1em 3em;
    border-radius: 2em;
    font-size: 1rem;
    cursor: pointer;
}

.ban1 {
    background-color: var(--clr-tomato);
    border: none;
}
.ban1:hover {
    background-color: var(--clr-button);
    color: var(--clr-black);
}

.ban2 {
    background: transparent;
    border: none;
    border: 1px solid var(--clr-tomato);
}
.ban2:hover {
    background-color: var(--clr-button);
    color: var(--clr-black);
    border: none;
}

.banner-right {
    position: relative;
}

.position1 {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16%;
    left: -20%;
    background-color: var(--clr-blur);
    padding: 0.7em 1em;
    gap: 0.7em;
    border-radius: 0.5em;
    border: 1px solid var(--clr-border-light);
}

.pleft {
    background-color: var(--clr-tomato);
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}

.position2 {
    position: absolute;
    bottom: 60%;
    right: -15%;
    background-color: var(--clr-blur);
    padding: 0.5em 1em;
    border: 1px solid var(--clr-border-light);
    border-radius: 0.5em;
}

.ban-h2 {
    font-size: 1.6rem;
}


/* first-section */
.first-section {
    width: 70%;
    margin-inline: auto;
    margin-top: 5em;
}

.first-sec-top {
    text-align: center;
    max-width: 60%;
    margin-inline: auto;
}

.section-headings {
    font-size: 3rem;
}

.sec-des {
    font-size: 0.9rem;
    color: var(--clr-txt-light);
}

.part img {
    border-radius: 50%;
    border: 0.3em solid var(--clr-blur);
    margin-bottom: 1em;
}

.first-sec-bottom {
    display: flex;
    gap: 1em;
    margin-top: 3em;
    text-align: center;
}